body{
    background-color: darkseagreen;
}
.container{
    width: auto;
    padding: 50px 0px 0px 0px;
    margin: auto;
}
h1{
    text-align: center;
}
h3{
    padding: 30px 0px 30px 0px;
    font-size: 18px;
    text-align: center;
}
#begin{
    justify-content: center;
}
ul{
    list-style-type: none;
}
li{
    padding: 5px;
}
#beginning{
    width: 100%;
    text-align: center;
}
.hide{
    display: none;
}
#result{
    padding: 5px;
    font-size: 18px;
    border-top: 2px solid lightgray;
    color: lightgray;
}